matplotlib==3.5.0
monai==1.2.0
nibabel==3.2.1
numpy==1.21.4
pandas==1.3.5
Pillow==8.4.0
scipy==1.7.3
sklearn==0.0
tensorboard==2.9.1
torch==1.11.0+cu113
torchsummary==1.5.1
torchvision==0.12.0+cu113
tqdm==4.62.3
