absl-py==1.0.0
alabaster==0.7.12
alembic==1.9.0
argon2-cffi==21.1.0
arrow==1.2.2
astor==0.8.1
astroid==2.15.5
astunparse==1.6.3
atomicwrites==1.4.0
attrs==21.2.0
autopage==0.5.1
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
binaryornot==0.4.4
black==22.3.0
bleach==4.1.0
blessings==1.7
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.4
cliff==4.1.0
cloudpickle==2.0.0
cmaes==0.9.0
cmd2==2.4.2
colorama==0.4.6
colorlog==6.7.0
comm==0.1.3
contextlib2==21.6.0
cookiecutter==1.7.3
cryptography==36.0.1
cucim==22.12.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.0
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.6
docopt==0.6.2
docstring-to-markdown==0.12
docutils==0.17.1
einops==0.4.1
entrypoints==0.3
filelock==3.8.2
fire==0.5.0
flake8==5.0.4
flatbuffers==1.12
fonttools==4.28.2
future==0.18.3
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpustat==0.6.0
greenlet==2.0.1
grpcio==1.42.0
h5py==3.7.0
horovod==0.26.1
idna==3.3
imageio==2.22.2
imagesize==1.3.0
importlib-metadata==6.7.0
importlib-resources==5.4.0
inflection==0.5.1
intensity-normalization==2.1.4
intervaltree==3.1.0
ipykernel==6.23.2
ipython==7.33.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
jedi==0.18.1
jeepney==0.7.1
jellyfish==0.9.0
Jinja2==3.0.3
jinja2-time==0.2.0
joblib==1.1.0
json-tricks==3.16.1
jsonschema==4.2.1
jupyter==1.0.0
jupyter-console==6.4.0
jupyter_client==8.2.0
jupyter_core==5.3.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring==23.5.0
kiwisolver==1.3.2
lazy-object-proxy==1.7.1
libclang==14.0.1
Mako==1.2.4
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
mccabe==0.7.0
medcam==0.1.21
mistune==0.8.4
mlxtend==0.20.0
monai==1.2.0
mylib==0.0.1
mypy-extensions==0.4.3
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.8.7
nibabel==3.2.1
nni==2.10
notebook==6.4.6
numpy==1.21.4
numpydoc==1.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
opencv-python==4.7.0.68
opt-einsum==3.3.0
optuna==3.0.5
packaging==23.1
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.3
pbr==5.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pipreqs==0.4.11
platformdirs==3.6.0
pluggy==1.0.0
poyo==0.5.0
prettytable==3.5.0
prometheus-client==0.12.0
prompt-toolkit==3.0.23
protobuf==3.19.1
psutil==5.9.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
pydocstyle==6.3.0
pyflakes==2.5.0
Pygments==2.10.0
pylint==2.17.4
pylint-venv==3.0.2
pyls-spyder==0.4.0
pyparsing==3.0.6
pyperclip==1.8.2
PyQt5==5.12.3
PyQt5-sip==12.9.1
PyQtWebEngine==5.12.1
pyrsistent==0.18.0
python-dateutil==2.8.2
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.3
python-slugify==6.1.1
PythonWebHDFS==0.2.3
pytoolconfig==1.2.5
pytz==2021.3
PyWavelets==1.4.1
pyxdg==0.27
PyYAML==6.0
pyzmq==25.1.0
QDarkStyle==3.0.2
qstylizer==0.2.2
QtAwesome==1.2.3
qtconsole==5.4.3
QtPy==2.1.0
requests==2.26.0
requests-oauthlib==1.3.0
responses==0.22.0
rope==1.8.0
rsa==4.8
Rtree==0.9.7
schema==0.7.5
scikit-fuzzy==0.4.2
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
SecretStorage==3.3.1
Send2Trash==1.8.0
setuptools-scm==6.3.2
SimpleITK==2.2.1
simplejson==3.18.0
six==1.16.0
sklearn==0.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.4.3
spyder-kernels==2.4.3
SQLAlchemy==1.4.45
statsmodels==0.13.2
stevedore==4.1.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.2
threadpoolctl==3.0.0
three-merge==0.1.1
tifffile==2022.10.10
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchsummary==1.5.1
torchvision==0.12.0+cu113
tornado==6.3.2
tqdm==4.62.3
traitlets==5.9.0
typeguard==2.13.3
types-toml==0.10.8.1
typing_extensions==4.0.1
ujson==5.1.0
urllib3==1.26.7
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.4
Werkzeug==2.0.2
whatthepatch==1.0.5
widgetsnbextension==3.5.2
wrapt==1.13.3
wurlitzer==3.0.2
yapf==0.40.0
yarg==0.1.9
zipp==3.6.0
